@using LibrosSalesianos.Models;
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@{ ShoppingCart sp = (ShoppingCart)Session["ASPNETShoppingCart"];}

<ul>

@{ if(sp!=null)
   {
        foreach(CartItem ci in sp.Items){
            <li>@ci.Description : @ci.Quantity</li>
        }
        <li>@sp.GetSubTotal() €</li>
    }
}

<br />
<br />

    @{ var book = new Book("012345", "Mi bonico libro daprender", 99.01f, "/Scripts/widgets/jqwidgets/images/books/Carrie.jpg"); }
    @Html.Partial("_BookPartial", book)
</ul>