@model List<LibrosSalesianos.Models.Book>

@{
    ViewBag.Title = "BuyingBooks";
    var books = Model;
}

<h3>Compra de libros</h3>
<div class="cartItems">
    <div class="tables">
        @{
            foreach(var book in books)
            {
        
                @Html.Partial("_BookPartial", book)
            }
        }
       </div>
</div>